  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <div class="field">
    Date:<br>
    <%= f.date_field :eventdate %>
  </div>
  <div class="field">
    Contact Type<br>
    <%= f.select :contacttype, [ 'Phone Call', 'Drop-in', 'Meeting', 'Event', 'Other' ], :prompt => 'Select One', :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department  %>
  </div>
  <div class="field">
    <%= f.label :person %><br>
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <strong>Meeting Length: </strong><i>(in minutes)</i><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
    <div class="actions">
    <strong><%= f.check_box :email %> Send e-mail notification to: <br> <%= f.email_field :admin_email %></strong>
  </div>
  <div class="actions">
    <%= f.submit 'Check in', :class => 'btn btn-success' %>
  </div>
</div>
<% end %>
