<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="newform">
  <div class="field">
    Contact Type<br>
    <%= f.select :contacttype, [ 'Drop-in', 'Meeting', 'Event', 'Other' ], :prompt => 'Select One' %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :person %><br>
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration, :class => 'text_field', :step => 0.25%>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit 'Check in', :class => 'btn btn-success' %>
  </div>
</div>
<% end %>
