<p id="notice"><%= notice %></p>

<h3>Listing Customer Contacts</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Contacttype</th>
      <th>Company</th>
      <th>Department</th>
      <th>Person</th>
      <th>Duration</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.contacttype %></td>
        <td><%= contact.company %></td>
        <td><%= contact.department %></td>
        <td><%= contact.person %></td>
        <td><%= contact.duration %></td>
        <td><%= contact.notes %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
