<p id="notice"><%= notice %></p>

<h3>Your Marketer Check-ins</h3>
<table class="table table-striped">
  <thead class="padding">
    <tr>
      <th>Date</th>
      <th>Contacttype</th>
      <th>Company</th>
      <th>Department</th>
      <th>Person</th>
      <th>Duration</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="padding">
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.eventdate %></td>
        <td><%= contact.contacttype %></td>
        <td><%= contact.company %></td>
        <td><%= contact.department %></td>
        <td><%= contact.person %></td>
        <td><%= contact.duration %></td>
        <td><%= contact.notes %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<%= link_to "Download in Excel", contacts_path(format: "xls") %>
</center>